{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": "current"
        }
      },
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    "babel-plugin-transform-es2015-modules-commonjs"
  ]
}
